<!-- Below is one block of HTML for each record in an array -->
<!-- In api.js, the get request is url: app.host + '/bills' which returns an array of bills -->
<!-- This code iterates through all rows in the array of bills  -->

{{#each bills as |bill|}}
  <ul data-id="{{bill.id}}">
    <li>
      <small>Title: {{bill.creditor}}</small>
    </li>
  <li>
    {{#if bill.creditor}}
      {{bill.creditor}} {{bill.billing_month}} {{bill.amount_due}}
    {{else}}
      No description.
    {{/if}}
  </li>
  <li><button id="{{bill.id}}" class='paybill' name='pay'>Pay Bill</button>
  <li><button id="{{bill.id}}" class='updatebill' name='update'>Edit Bill</button>
  </li>
</ul>
{{/each}}
