<!-- Below is one block of HTML for each record in an array -->
<!-- In api.js, the get request is url: app.host + '/bills' which returns an array of bills -->
<!-- This code iterates through all rows in the array of bills  -->
<div class="container-handler">
{{#if bills}}
  {{#each bills as |bill|}}
      <a data-id="{{bill.id}}" class="list-group-item" id="item">
      <h3 data-id="{{bill.id}}" class="list-group-item-heading"id="creditor_heading" > {{bill.creditor}}</h3>
      <br>
      <p data-id="{{bill.id}}" class="list-group-item-text"> Billing Month: {{bill.billing_month}}
      <br>
      <p data-id="{{bill.id}}" class="list-group-item-text"> Amount Due: ${{bill.amount_due}}
      <br>
      <br>
      <div>
        <button data-id="{{bill.id}}" class='paybill' name='pay'>Pay Bill</button>
        <button data-id="{{bill.id}}" data-billcreditor="{{bill.creditor}}" data-billmonth="{{bill.billing_month}}" data-amountdue="{{bill.amount_due}}" class='updatebill' name='update'>Edit Bill</button>
      </div>
   {{/each}}
  {{else}}
    <p id="billmsg">You have no bills to display!</p>
  {{/if}}
</div>
